i {
  color: red;
  font-size: 30px;
}

.main {
  background-color: yellowgreen;
}
.clock {
  display: flex;
  justify-content: center;
}

.button-div {
  display: flex;
  justify-content: center;
}

.timer {
  display: flex;
  justify-content: center;
}
.lists {
  display: flex;
  justify-content: center;
}

#ul,
#ul2 {
  list-style-type: none;
}
