body {
  background-color: #4ea8de;
}

ul {
  list-style-type: none;
}
.clock {
  display: flex;
  justify-content: center;
}

.button-div {
  display: flex;
  justify-content: center;
}

.lists {
  display: flex;
  justify-content: center;
}
